__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd

outputs/run_*/
outputs/*.zip
*.zip

notebooks/.ipynb_checkpoints/
app/.ipynb_checkpoints/
src/.ipynb_checkpoints/
Data/**/.ipynb_checkpoints/

.env
.venv/
venv/